body{
    font-family:'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    background-image: linear-gradient(to right ,#065a5c, #020e0c, #016269);
    color : white;
    padding: 0;
    margin: 0;
}
